*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #293462;
}
/*Primera Pantalla*/
#title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_lettering {
    font-size: 4em;
    padding: 25px;
    color: white;
}
.seleccion_personaje_container{
    background-color: #F7D716;
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: center;
    width: 90%;
    border-radius: 60px;
}
.tarjetas_personajes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.seleccion_personaje_container h2{
    font-size: 2.5em;
    margin: 10px 0px;
}
.personaje{
    margin: 15px 25px;
    font-size: 2em;
    width: 20%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #293462;
    border-radius: 20px;
    align-items: center;
    transition: background-color 1s;
}
.personaje input{
    display: none;
}
.personaje:hover{
    background-color: #F24C4C;
}
.personaje label{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.personaje input:checked + label{
    background-color: #F24C4C;
}
.personaje label p{
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.personaje label img{
    height: 75%;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
}
.seleccion_personaje_container button{
    height: 60px;
    margin: 20px 0px;
    width: 250px;
    background-color: #F24C4C;
    border: transparent;
    border-radius: 30px;
    color: white;
    font-size: 2em;
    transition: background-color .5s;
}
.seleccion_personaje_container button:hover{
    background-color: #293462;
}
/*Segunda Pantalla*/
.seleccion_ataque_container{
    background-color: #F7D716;
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 90%;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
}
.battle_title{
    font-size: 3.8em;
    margin: 15px 0px; 
}
.personajes_combate{
    background-color: #293462;
    border-radius: 80px;
    width: 85%;
    height: 280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 2em;
}
.personaje_container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding: 15px 15px;
    align-items: center;
}
.personaje_container img{
    height: 80%;
    width: 90%;
    border-radius: 25px;
}
.enemigo_container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding: 15px 15px;
    align-items: center;

}
.enemigo_container img{
    height: 80%;
    width: 100%;
}
.ataques{
    display: flex;
    margin: 5px 0px;
    background-color: #293462;
    border-radius: 20px;
    width: 60%;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 2em;
}
.ataques button{
    height: 40px;
    width: 20%;
    font-size: 0.8em;
    color: white;
    background-color: #F24C4C;
    border: none;
    border-radius: 15px;
    transition: background-color .5s;;
}
.ataques button:hover{
    background-color: black;
}
#mensajes{
    background-color: #293462;
    color: white;
    border-radius: 20px;
    margin: 0px 0px 15px 0px;
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.8em;
    height: 240px;
}
#mensajes p{
    margin: 3.5px 0px;
}
#boton_reiniciar{
    margin: 0 0 20px 0;
    width: 15%;
    height: 50px;
    background-color: #F24C4C;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 1.9em;
    transition: background_color 0.5s;
}
#boton_reiniciar:hover{
    background-color: #530707;
}
.mensaje_final{
    background-color: #F24C4C;
    position: absolute;
    width: 25%;
    height: 10%;
    border: transparent;
    border-radius: 15px;
    text-align: center;
    transition: font-size 2s, background-color 1s;
}
.mensaje_final p{
    height: 100%;
    font-size: 2em;
}
.mensaje_final:hover{
    font-size: 1.2em;
    background-color: black;
}
@media (max-width: 750px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F7D716;
    }
    .tarjetas_personajes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 950px;
    }
    .mensaje_final{
        background-color: #F24C4C;
        position: absolute;
        width: 25%;
        height: 10%;
        border: transparent;
        border-radius: 15px;
        text-align: center;
    }
    .mensaje_final:hover{
        background-color: #F24C4C;
    }
    .mensaje_final p{
        height: 100%;
        font-size: 0.8em;
    }
    .ataques{
        display: flex;
        margin: 5px 0px;
        background-color: #293462;
        border-radius: 20px;
        width: 60%;
        height: 70px;
        justify-content: space-around;
        align-items: center;
        color: white;
        font-size: 1.5em;
    }
    #boton_reiniciar{
        margin: 0 0 20px 0;
        width: 15%;
        height: 50px;
        background-color: #F24C4C;
        border: none;
        border-radius: 25px;
        color: white;
        font-size: 1.2em;
    }
    .battle_title{
        font-size: 2.5em;
        margin: 15px 0px; 
    }
}